$mdc-theme-primary: #424242;
$mdc-theme-secondary: #f44336;

@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header {
    flex-direction: column;
    display: flex;
}
header h3, header p{
    align-self: center;
    text-align: center;
    padding: 0 1.2rem;
}
header div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
header div label{
    display: flex;
}
section.controls {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
section.progress {
     flex-direction: row;
    display: flex;
    justify-content: space-around;   
}

.hide {
    display: none !important;
}